body.standard {
  background-color: white;
}
body.holiday {
  background-color: red;
}
nav.standard {
  background-color: black;
}
nav.holiday {
  background-color: green;
}
nav .brand-logo {
  /*margin-left: 20px;*/
  color: #66d9ef;
}
.sub {
  color: #a6e22e;
}
nav form {
  /*margin-left: 180px;*/
  width: 300px;
}
.hljs {
  max-height: 120px;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
